@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mona_bold;
  src: url("/fonts/MonaSans-Bold.ttf");
}

@font-face {
  font-family: mona_medium;
  src: url("/fonts/MonaSans-SemiBold.ttf");
}

@font-face {
  font-family: mona;
  src: url("/fonts/MonaSans-Regular.ttf");
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}